.input {
    border-radius: 4px;
    outline: none;
    padding: 13px 12px 13px 16px;
    border: 1px solid var(--grey-blue);
    font-family: 'Poppins', sans-serif;
    width: 350px;
    border: 1px solid #bbb7b7;
}